<% layout('master') -%>
<div class="field required">
     <label for="id_store">Store</label>
     <input type="text" name="store" id="id_store" />
</div>
<div class="field required">
     <label for="id_beer">Beer</label>
     <input type="text" name="beer" id="id_beer" />
</div>
<div class="field required">
     <label for="id_price">Price</label>
     <input type="text" name="price" id="id_price" />
</div>