<% layout('master') -%>
<div class="field required">
     <label for="id_store">Store</label>
     <input type="text" name="store" class="form-control" id="id_store" />
</div>
<div class="field required">
     <label for="id_beer">Beer</label>
     <input type="text" name="beer" class="form-control" id="id_beer" />
</div>
<div class="field required">
     <label for="id_price">Price</label>
     <input type="text" name="price" class="form-control" id="id_price" />
</div>