<% layout('master') -%>
<form id="priceinput" method="post">
<div class="field required">
     <label for="id_store">Store</label>
     <input type="text" name="store" class="form-control" id="id_store" />
</div>
<div class="field required">
     <label for="id_beer">Beer</label>
     <input type="text" name="beer" class="form-control" id="id_beer" />
</div>
<div class="field required">
     <label for="id_brewer">Brewer</label>
     <input type="text" name="brewer" class="form-control" id="id_brewer" />
</div>
<div class="field required">
     <label for="id_container_qty">Package</label>
     <select class="form-control" id="id_container_qty" name="qty">
     	     <option>single</option>
     	     <option selected="selected">6 pack</option>
	     <option>12 pack</option>
     </select>
</div>
<div class="field required">
     <label for="id_container_sz">Container Size</label>
     <select class="form-control" id="id_container_sz" name="containersz">
     	     <option>12 oz</option>
     	     <option>22 oz</option>
     </select>
</div>
<div class="field required">
     <label for="id_container">Container Type</label>
     <select class="form-control" id="id_container" name="container">
     	     <option>bottle</option>
	     <option>can</option>
	     <option>keg</option>
     </select>
</div>

<div class="field required"> 
     <label for="field" >Price</label>
     <input type="text" class="form-control" id="field" name="price"/>
</div>

<input type="submit" value="Beer!"/>
</form>

<script>

</script>
